<h1>Searches#create</h1>
<p>Find me in app/views/searches/create.html.erb</p>

<h1> congratulations! </h1>
<h1> you created a search with the terms <%= @search.search_terms %> </h1>

<% if @search.results %>
  <% @search.posts.each do |pos| %>
    <h1> <%= pos.title %> </h1>
  <% end %>
<% end %>
