<h1> results for search with these search words: </h1>
<h3> <%= @search.search_terms %> </h3>
<br> 
<% @search.posts.each do |pos| %>
  <h4> title: <%= pos.title %> </h4>
  <h6> text: <%= pos.text %> </h6>
<% end %>
