<article class="search-inspect">
  <h3> Search ID: <%= @search.id %> </h3>
  <h3> Search terms: <%= @search.search_terms %> </h3>
  <ul>
  <% search = @search.results.sort_by { |m| m.score } %>
  <% search.reverse! %>
  <% search.each do |res| %>
    <li> Title: <%= res.post.title %> </li>
    <li> Text: <%= res.post.text %> </li>
    <br>
  <% end %>
  </ul>
</article>
