<h1>All Posts</h1>

<% current_user.posts.each do |pos| %>
  <article class="post">
    <h1><%= pos.title %></h1>
    <ul>
      <li><%= link_to 'Inspect this post', [current_user, pos] %></li>
      <li><%= link_to 'Delete this post', [current_user, pos], method: :delete %></li>
      <li><%= link_to 'Update this post', edit_user_post_path(current_user, pos) %></li>
    </ul>
  </article>
<% end %>
