body {
  display: flex;
  min-height: 100vh;
  min-width: 100vw;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
header {
  display: flex;
  height: 100px;
  min-width: 100vw;
  justify-content: space-around;
  align-items: center;
  background-color: #B4CDCD;
}
footer {
  display: flex;
  height: 100px;
  min-width: 100vw;
  justify-content: space-around;
  align-items: center;
  background-color: #B4CDCD;
}
.content-wrapper {
  width: 400px;
  min-height: 500px;
}
.alert {
  color: red;
}
.notice {
  color: green;
}

.grail-body {

}
